/* MY CSS STYLES */

html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 15px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

p.copyright {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 40px;
}

p.copyright a {
    text-decoration: none;
    color: #941818;
}

p.copyright a:hover {
    text-decoration: underline;
    color: #005f73;
}

img {
    height: auto;
    width: 350px;
}

.description {
    display: flex;
    margin-bottom: 40px;
}

.preface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.opening {
    max-width: 80%;
    font-size: 1.2rem;
}

.recipe {
    display: flex;
}

.ingredients {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    min-width: 320px;
    margin-right: 30px;
}

a.back {
    border: 1px solid #970000;
    background-color: #970000;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

a.back:hover {
    text-decoration: none;
    background-color: #973c00;
    border: 1px solid #973c00;
    border-radius: 20px;
    transition: border-radius 0.5s;
}

.notes, .storage {
    list-style: none;
}

@media (max-width: 800px) {
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        margin: 0 auto;
    }
}

@media (max-width:700px) {
    .recipe {
        display: flex;
        flex-direction: column;
    }
}