html {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    font-size: 20px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}

.flexbox {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #bb3e03;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    line-height: 2rem;
    font-size: 1rem
}

a {
    border: 1px solid #970000;
    background-color: #970000;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: #973c00;
    border: 1px solid #973c00;
    border-radius: 20px;
    transition: border-radius 0.5s;
}